*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: 'Lustria', serif;
    scroll-behavior: smooth;
}
body{
    background: #fafafa;
}

.cornice{
    z-index: 1000;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #00000005;
    background: inherit;
    transition: background 0.3s, color 0.1s;
}
.cornice.scroll{
    background: #222;
    color: #fff;
}
.cornice-dentil{
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    columns: #333;
    font-size: 1.1rem;
    font-family: 'Spectral', serif;
    transition: color 0.2s;
}
.cornice-dentil:hover{
    color: #777;
}
.cornice-dentil.front{
    font-size: 1.8rem;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight: 700;
}

.ad-banner{
    width: 90%;
    max-width: 42rem;
    margin: auto;
    margin: 1rem auto;
    padding: 4rem 2rem;
    border: 1px dashed #00000055;
}
.torso{
    width: 100%;
    max-width: 42rem;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
}
.breadcrumb-box{
    padding: 0 0.2rem 0.8rem;
    border-bottom: 1px solid #0000000a;
    text-align: left;
}
.breadcrumb-bran, .breadcrumb-bran a{
  cursor: pointer;
  color: #555;
  font-size: 1rem;
  transition: 0.3s;
  display: inline-block;
}
.breadcrumb-bran:hover a{
  color: #333;
}
.breadcrumb-bran:after{
    content: '›';
    padding: 1.4rem;
    font-family: 'Lustria', serif;
    font-style: normal;
    color: #999;
}
.breadcrumb-bran.active, .breadcrumb-bran.active a{
  cursor: auto;
  color: #999;
}
.breadcrumb-bran.active:after{
  content: none;
}
.breadcrumb-bran.front{
    font-size: 1.3rem;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight: 700;
}

.article{
    padding: 1rem 0;
}
.breviary{
    margin-bottom: 1rem;
    color: #333;
    text-align: center;
}
.breviary-title{
    color: inherit;
    font-size: 2rem;
    font-family: 'Spectral', serif;
    font-family: 'Playfair Display', serif;
}
.breviary-subtitle{
    padding-bottom: 0.8rem;
    color: #555;
    font-size: 1.1rem;
    font-family: 'Spectral', serif;
    font-family: 'Playfair Display', serif;
}
.breviary-alias{
    display: inline-block;
    padding: 0.8rem;
    border-top: 1px solid #0000000a;
    color: #777;
}
.breviary-alias li:not(:first-child):before{
    content: '|';
    color: #ccc;
    padding-right: 1rem;
}
.breviary-alias li, .breviary-social li{
    display: inline-block;
    padding: 0 0.4rem;
}
.appendix{
    position: sticky;
    float: left;
    top: 6rem;
    margin-left: -6rem;
    vertical-align: top;
    list-style-type: none;
}
.appendix li{
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0.6rem;
}
.appendix li img{
    width: 100%;
    transition: 0.3s;
}
.appendix li:hover img{
    opacity: 0.8;
    /*transform: translate(-0.6rem, -0rem);*/
}
@media only screen and (max-width: 720px) {
    .appendix{
        /*display: none;*/
        position: static;
        top: auto;
        float: none;
        margin: auto;
        text-align: center;
    }
    .appendix li{
        display: inline-block;
        width: 3rem;
        height: 3rem;
    }
}

.bio-wing{
    position: sticky;
    float: right;
    top: 6rem;
    margin-right: -10rem;
    vertical-align: top;
    list-style-type: none;
    text-align: center;
}
.bio-wing .bio-name{
    margin-top: 0.6rem;
    padding: 0.4rem auto;
}
.bio-wing  .bio-social{
    display: block;
    margin-left: 0;
    margin-top: 0.2rem;
}
.bio-wing .bio-text{
    width: 8rem;
    padding: 0;
    font-size: 0.8rem;
}
.bio-wing .bio-text p{
    text-indent: 0.4rem;
}
.bio-wing .bio-text:first-letter, .bio-wing .bio-text p:first-letter{
    font-size: 1rem;
}

.article-text{
    text-align: justify;
    color: #333;
}
.article-text p{
    text-indent: 2rem;
    word-spacing: 0.18rem;
    line-height: 1.8rem;
}
.article-text a{
    cursor: pointer;
    text-decoration: underline;
}
.article-text a:hover{
    color: #ddaa22;
}
.article-text br{
    content: "";
    margin: 0.5rem;
    display: block;
    font-size: 12%;
    border-bottom: 1px solid #0000000a;
}
.article-text:first-letter{
    font-size: 2rem;
}
.article-topic{
    display: inline-block;
    margin: 1.2rem 0 0.4rem;
    font-family: 'Quattrocento', serif;
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.article-native{
    z-index: 1;
    position: relative;
    margin: 0 auto 1rem;
    font-size: 1.2rem;
    text-align: center;
    font-style: italic;
    font-weight: 00;
}
.article-native span{
    z-index: 1;
    position: relative;
    padding: 0 0.4rem;
    background: #fafafa;
    font-family: 'Playfair Display', serif;
}
.article-native:before{
    content: ' ';
    z-index: -1;
    position: absolute;
    top: 0.9rem;
    left: 0;
    width: 100%;
    border-bottom: 1px dotted #00000055;
}
.next-wrapper{
    text-align: center;
}
.article-next{
    /*display: inline-block;*/
    margin: 0.1rem auto;
    width: 50%;
    padding: 0.8rem 1rem;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    font-style: italic;
    font-weight: 00;
    background-image:
    linear-gradient(45deg, transparent 65%, #333 80%, transparent 90%),
    linear-gradient(135deg, transparent 5%, #333 15%, transparent 25%),
    linear-gradient(135deg, transparent 45%, #333 55%, transparent 65%),
    linear-gradient(45deg, transparent 25%, #333 35%, transparent 50%);
    background-repeat:repeat-x;
    background-size: 14px 4px;
    background-position:0 100%;
    animation: wiggle 20s linear infinite;
}
@keyframes wiggle {
  0% { background-position: 0 100% }
  100% { background-position: 100% 100% }
}

.article-quote{
    margin: 0.8rem auto;
    padding: 0.4rem 2.5rem 1.2rem;
    /*border-left: 0.3rem solid #ddd;*/
    border-bottom: 1px solid #0000000a;
    color: #666;
    line-height: 1.8rem;
    font-style: italic;
}
.article-quote:first-letter{
    font-size: 1.6rem;
}
.quote-author{
    right: 0;
    width: 100%;
    text-align: right;
}
.quote-author:before{
    content: '— ';
}
@media only screen and (max-width: 480px) {
    .article-quote{
        padding: 0.4rem 1rem;
    }
}
.torso-order{
    padding: 0.6rem 0rem 0.6rem 1.4rem;
    font-size: 1rem;
    line-height: 2rem;
    text-align: left;
    list-style-type: upper-roman;
}
.torso-order li{
    cursor: pointer;
    width: 100%;
    padding: 0.4rem 0rem;
    font-size: 1.1rem;
    transition: 0.5s;
}
.torso-order li:hover, .torso-order li.active{
    background: #00000003;
    color: #777;
}
.torso-order li:after{
    content: '+';
    float: right;
    padding-right: 1rem;
}
.torso-order li.active:after{
    content: '-';
}
.torso-panel{
    max-height: 0;
    padding: 0 1rem;
    border-bottom: 1px solid transparent;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
}
.torso-order li.active + .torso-panel{
    max-height: 20rem;
    border-bottom: 1px solid #00000011;
    overflow: auto;
}
.taglist{
    margin-top: 1rem;
    padding: 0.8rem 0.4rem;
    border-top: 1px solid #00000011;
}
.taglist .tag{
    cursor: pointer;
    display: inline-block;
    margin: 0 0.2rem;
    padding: 0.1rem 0.2rem;
    /*border-bottom: 1px solid #333;*/
    text-decoration: underline;
    color: #333;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.1s;
}
.taglist .tag:hover{
    color: #555;
}
.nav-belt{
    cursor: pointer;
    list-style-type: none;
    text-align: center;
}
.nav-item{
    display: inline-block;
    margin: 0;
    padding: 1rem;
}
.nav-item i{
    color: #333;
    font-size: 1.8rem;
    transition: 0.2s;
}
.nav-item:hover i{
    transform: translate(0, -0.3rem);
}
.bio-box{
    cursor: pointer;
    padding: 1.2rem 0 0;
    border-top: 1px solid #00000011;
    vertical-align: top;
}
.bio-img{
    width: 8rem;
    height: 8rem;
    border-radius: 100%;
    overflow: hidden;
}
.bio-img img{
    width: 100%;
    transition: 0.3s;
    filter: grayscale(100%) contrast(60%) brightness(120%);
    transition: 0.2s;
}
.bio-text{
    padding: 1rem 1rem 0;
    color: #777;
    text-align: justify;
}
.bio-text:first-letter, .bio-text p:first-letter{
    font-size: 1.2rem;
}
.bio-name{
    display: inline-block;
    color: #333;
    font-size: 1.1rem;
    transition: 0.2s;

}
.bio-name:hover{
    color: #999;
}
.bio-social{
    display: inline-block;
    margin-left: 0.6rem;
}
.bio-social li{
    display: inline-block;
    margin: 0 0.1rem;
    width: 1.2rem;
    height: 1.2rem;
}
.bio-social li img{
    width: 100%;
    transition: 0.3s;
}
.bio-social li:hover img{
    transform: translate(0, -0.2rem);
}
.bio-text p{
    text-indent: 2rem;
}
@media only screen and (max-width: 680px) {
    .bio-box td{
        display: block;
    }
    .bio-img, .bio-name{
        width: 100%;
        border-radius: 0;
        text-align: center;
    }
    .bio-img img{
        margin: auto;
        border-radius: 100%;
        text-align: center;
        width: 8rem;
        height: 8rem;
    }
}

.floor{
    padding: 3rem;
    border-top: 1px solid #00000011;
    text-align: center;
}
.floor-front{
    color: #00000033;
    font-size: 2.4rem;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
    font-weight: 700;
}
.floor-low{
    color: #00000055;
    font-size: 0.8rem;
    font-style: italic;
}

::-webkit-scrollbar {
  width: 2px;
  transition: 0.3s;
}
::-webkit-scrollbar *{
  transition: 0.3s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0a0a0a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

.float-theme{
    position:fixed;
    bottom: 0;
    right: 0;
    padding: 2rem;
}
@media only screen and (max-width: 800px) {
    .float-theme{
        display: none;
    }
}
/*Toggle Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #222;
}

input:focus + .slider {
  box-shadow: 0 0 1px #222;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}